<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>PetServlet</servlet-name>
        <servlet-class>com.onlinepetadoption.servlet.PetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetServlet</servlet-name>
        <url-pattern>/pets</url-pattern>
    </servlet-mapping>
</web-app>
